name: CRON Schedule for update_participation_status in Zerowaste Server

on:
  schedule:
    - cron: '0 17 * * *' # 2:00 am

jobs:
  build:
    name: update_participation_status
    runs-on: ubuntu-latest
    steps:
      - name: cURL request
        run: curl -X POST http://woozoo.beautyvillage.net/api/batch/participations -H 'Authorization:${{ secrets.ZERO_WASTE_BATCH_KEY }}'
